<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Employee List</title>
</head>
<body>
    <h1>Employee List</h1>
    <a href="/login">Admin Login</a>
    <br>
    <br>
    <table border="1">
        <tr>
            <th>AssociateID</th>
            <th>AssociateName</th>
            <th>DepartmentDescription</th>
            <th>FinalMISDepartment</th>
            <th>PracticeName</th>
            <th>ProjectID</th>
            <th>ProjectName</th>
            <th>Location</th>
            <th>Region</th>
            <th>Country</th>
            <th>City</th>
            <th>CityDescription</th>
            <th>EmailID</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ employee['associateid'] }}</td>
            <td>{{ employee['associatename'] }}</td>
            <td>{{ employee['departmentdescription'] }}</td>
            <td>{{ employee['finalmisdepartment'] }}</td>
            <td>{{ employee['practicename'] }}</td>
            <td>{{ employee['projectid'] }}</td>
            <td>{{ employee['projectname'] }}</td>
            <td>{{ employee['location'] }}</td>
            <td>{{ employee['region'] }}</td>
            <td>{{ employee['country'] }}</td>
            <td>{{ employee['city'] }}</td>
            <td>{{ employee['citydescription'] }}</td>
            <td>{{ employee['emailid'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>